/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 85%;
    margin: 0 auto;
    
}

.title-line{
    display:flex;
    justify-content:space-evenly;
    padding:1rem;
    margin-top:1.5rem;
}

.top-image{
    display:block;
    width:77%;
    margin-left:auto;
    margin-right:auto;
    height:5%;
}
.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /*margin-bottom: 20px;*/
    border-bottom: 1px dashed black;
    padding:5%;
    margin-left:12%;
    margin-right:12%;
}

.text-container {
    width: 20rem;;
    padding: 0 3%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-left:12%;
    margin-right:12%;
    margin-top:5%;
    margin-bottom:5%;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin:3rem;

}

.boxes{
    display:flex;
    flex-wrap:wrap;
    height:3rem;
    margin:3rem;
    color: white;
    align-items: stretch;
    justify-content: space-evenly;
}

.box1{
    background-color:teal;
}

.box2{
    background-color:gold;
}

.box3{
    background-color:cadetblue;
}

.box4{
    background-color:coral;
}

.box5{
    background-color:crimson;
}

.box6{
    background-color:forestgreen;
}

.box7{
    background-color:darkorchid;
}

.box8{
    background-color:hotpink;
}

.box9{
    background-color:indigo;
}

.box10{
    background-color:dodgerblue;
}
.bottom-content {
    display: flex;
    justify-content: space-evenly;
    padding:5rem;
}

/*.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}*/

footer {
    width: 78%;
    background: black;
    margin-left:12%;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

@media(max-width: 800px) {
    .title-line{
        justify-content:space-around;
        padding-left:12%;
        padding-right:12%;
    }
    .top-content{
        flex-direction:column;
        align-content:center;
    }
    .middle content{
        flex-direction:column;
        align-items:stretch;
        margin-left:15rem;
    }
    .boxes{
        flex-wrap:nowrap;
        flex-direction:column;
        margin:10rem;
        width:2rem;
        justify-content:center;
    }
    
    .bottom-content{
        flex-direction:column;
        padding-left:15rem;
        justify-content:center;
    }

    }
    nav{
        justify-content:center;
    }
}

@media(max-width: 500px) {
    .title-line{
        flex-direction:column;
        align-content:center;
        justify-content:center;
        margin-left:35%;
        padding:5%;
    }
    .top-image{
        display:block;
        width:65%;
        margin-left:auto;
        margin-right:auto;
        height:5%;

    .text-container{
        flex-direction:column;
        justify-content:center;
        align-content:center;
    }
    .middle-content{
        flex-direction:column;
        align-items:stretch;
        padding:20%;
    }
    .bottom-content{
        flex-direction:column;
        justify-content:center;
        align-content:center;
    }
    nav{
        flex-direction:column;
        justify-content:center;

    }
}